:root {
  --turquoise: rgb(22, 236, 236);
}
/* targetting header and header h1 for background-color and other essential spacing */
header {
  padding: 15px;
  background-color: black;
  color: white;
  padding-bottom: 0;
}

header h1 {
  background-color: var(--turquoise);
  color: black;
  padding: 4px;
  display: inline;
  margin-bottom: 0;
  width: 137px;
}
/* targetting navigation bar to float to the right, bottom border for the links, and other essential spacing */
nav {
  float: right;
  margin-bottom: 10px;
  margin-top: 0;
}
nav ul {
  margin-top: 0;
}
nav ul li {
  display: inline;
  padding: 10px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  border-bottom: 3px solid white;
  padding: 3px;
}
/* targetting main to set width and proper margin for centering content */
main {
  width: 85%;
  margin: 20px auto;
}
/* targetting hero section to set background image, background color for the subtitle, positioning image, photo, and other essential spacing */
#hero {
  position: relative;
  height: 200px;
  background-image: url(../images/About_Me.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0;
}
.photo img {
  width: 156px;
  padding-left: 15px;
  object-fit: contain;
  object-position: center;
}
#subtitle h2 {
  background-color: var(--turquoise);
  color: black;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
}
/* Create flexboxes for the sections, section heading to have right border, and create flex containers for content on the right side of the section */
section {
  display: flex;
}
section h2 {
  padding: 30px;
  margin: 15px;
  flex: 1 20%;
  border-right: 5px solid black;
  text-align: right;
  font-size: 4.3em;
}
#about-me p {
  line-height: 1.5em;
  font-size: 1.8em;
  margin: 0;
}
.container {
  display: flex;
  align-items: center;
  flex: 1 80%;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  padding: 20px;
}
/* targetting applications for the proper layout with application 1 with being bigger than the other applications, cursor pointer is set when hovering over the images, application titles are in fixed position, and essential spacing between applications */
.application {
  border: 3px solid var(--turquoise);
  position: relative;
  overflow: hidden;
}

.application img {
  width: 100%;
  height: 100%;
}
.application img:hover {
  cursor: pointer;
  opacity: 0.3;
}

.application-1 {
  flex-grow: 2;
  width: 100%;
  height: 60vh;
}

.application-2,
.application-3,
.application-4,
.application-5 {
  flex-grow: 1;
  width: 45%;
  height: 200px;
}
.application-title {
  position: absolute;
  background-color: var(--turquoise);
  left: 0px;
  bottom: 20px;
}
.application-title h3,
.application-title p {
  margin: 0;
}
/* targetting contact-me to change color and bottom border for the contact links and essential spacing. */
#contact-me li {
  display: inline-block;
  border-bottom: 5px solid blue;
  margin: 0 25px;
}
#contact-me li a {
  text-decoration: none;
  color: blue;
  font-size: 2em;
}
/* targetting footer with background color and centering text */
footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.8em;
  padding: 5px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section h2,
  .container {
    flex: 1 100%;
    border: none;
  }
}
@media screen and (max-width: 640px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header h1 {
    display: block;
    font-size: 1em;
    text-align: center;
  }
  nav {
    float: none;
  }
  nav a {
    font-size: 15px;
  }
  section h2 {
    font-size: 2em;
  }
  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #hero .photo {
    flex: 1 100%;
    display: block;
  }
  #hero img {
    width: 100px;
  }
  #subtitle h2 {
    position: relative;
    font-size: 1em;
    right: 0;
  }
}
